.form{

    width: 40%;
    height: 12vh;
    float: right;
    margin-top: 2%;
    margin-right: 5%;
    opacity: 0.8;
    border-radius: 15px;
}

.label{
    float: left;
    color: white;
    font-weight: bolder;
    margin-left: 7%;
    margin-bottom: 5%;
}

.input{
    float: left;
    border: 0.5px solid;
}

.inputField{
    width: 30%;
    height: 10vh;
    padding: 5px;
    float: left;
    margin-top: 1%;
}

.btn{
    width:20% ;
    height: 5vh;
    margin-top: 4%;
    background-color: #8662c7;
    color: white;
    font-weight: bold;
    float: right;
    margin-right: 2%;
}

.submit-btn :hover{
    cursor: pointer;
    background-color: white;
    opacity: 0.5;
    color: black;
}

fieldset{
    background-color: silver;
    opacity: 0.8;
}