.form-signUp{
    width: 40%;
    height: 55vh;
    float: right;
    margin-top: 10%;
    margin-left: 55%;
    margin-right: 5%;
}

.inputs{
    float: left;
    margin-top: 5vh;
    width: 100%;
}
.labels{
    width: 30%;
    float: left;
    color: white;
    font-weight: bold;
}

.signInput{
    margin-left: 25px;
    width: 60%;
}

.signUp-btn{
    width:20% ;
    height: 5vh;
    margin-top: 4%;
    background-color: green;
    color: white;
    font-weight: bold;
    margin-top: 10%;
    float: right;
    margin-right: 2%;
}