.account{
    width: 28%;
    height: 550px;
    background-color: white;
    position: absolute;
    margin-top: 0.2%;
}

.aac-header{
    width: 90%;
    height: 15%;
    margin-left: 5%;
}

.acc-image-container{
    width: 30%;
    height: 100%;
}

.acc-image{
    width: 89%;
    height: 80%;
    float: left;
    
}
.acc-title{
    margin-left: 15%;
    font-size: 1.5em;
    font-weight: 500;
}

.acc-field{
    margin-top: 2%;
    background-color: white;
    border-width: 0.1;
}

.acc-block{
    width: 90%;
    margin-left: 5%;
    height: 50%;
    position: absolute;
    margin-top: 15%;
    background-color: white;
}

.acc-block-img-container{
    width: 25%;
    height: 55%;
    float: left;
}

.acc-block-img{
    width: 100%;
    height: 100%;
}

.acc-block-info{
    font-size: 1.2em;
    margin-left: 10%;
    font-weight: 500;
}


.acc-link-title{
    margin-left: 30%;
    align-items: center;
}

.acc-btn{
    margin-top: 8%;
    width: 100%;
    height: 20%;
}

.acc-btn-title{
    width: 100%;
    height: 100%;
    border-width: 0;
    background-color: green;
    color: white;
    font-size: 1.2em;
}

.acc-btn :hover{
    cursor: pointer;
    background-color: white;
    color: green;
}
