.nav-bar{
    width: 100%;
    height: 70px;
    background-color: #8662c7;
}

.reorder-image{
    float: left;
    margin-left: 2%;
    margin-top: 1%;
    opacity: 0.8;
}

.reorder-image :hover{
    cursor: pointer;
}

.logo-image{
    width: 5%;
    height: 100%;
    float: left;
    margin-left: 4%;
}

.nav-options{
    float: right;
    margin-right: 4%;
    margin-top: 1%;
    width: 40%;
}

.nav-link{
    text-decoration: none;
    color: white;
    margin-right: 5%;

}

.nav-options :hover{
    color: silver;
}

.logout-image{
    width: 5%;
    height: 100%;
    float: right;    
}

.nav-options :hover{
    cursor: pointer;
}

.acc-image{
    width: 2%;
    height: 2px;
}